

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0d192e;
    margin-top: 40px;
    width: 100%;
}

.image-format {
    display: flex;
    margin: 0px auto;
    width: 160px;
    height: 130px;
    margin: 20px;
    padding: 5px;
    border: 1px solid rgb(215, 215, 215);
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.image-format{
    border-radius: 20px;
}
.image-format:hover {
    box-shadow: 5px 5px 10px 5px rgb(131, 129, 129);
}
.break{
    flex-basis: 100%;
    height: 0;
}
.mother-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-format img {
    transition: all 0.5s;
}

.image-format img:hover {
    transform: scale(1.2);
}
